@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

.container_Skills{
  min-height: 90vh;
  margin-bottom: 10%;
  margin-top: 14vh;
  border-bottom: 1px solid white;
}

.container_Skills_light{
  min-height: 90vh;
  margin-bottom: 10%;
  margin-top: 14vh;
  border-bottom: 1px solid rgb(151, 149, 149);
}

.skills{
  width: fit-content;
  margin: 0 auto;
  text-align: center;
  color: white;
  margin-bottom: 5%;
  font-family: 'Russo One', sans-serif;
}

.front_title, .front_title_light{
  z-index: 1;
  font-size: 3.5rem;
  position: relative;
  text-align: center;
}

.front_title{
  color: white;
}

.front_title_light{
  color: rgb(0, 0, 0);
}

@media screen and (max-width:1000px){
  .container_Skills, .container_Skills_light {
    min-height: 70vh;
  }
}

@media screen and (max-width:600px){
  .front_title, .front_title_light {
    font-size: 2.2rem;
  }

  .container_Skills, .container_Skills_light {
    padding: 30px;
    margin-top: 4vh;
  }

  .container_skills {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
  }
}

@media screen and (max-width:405px){
  .front_title, .front_title_light {
    font-size: 2rem;
  }

  .container_Skills, .container_Skills_light {
    padding: 30px;
    margin-top: 4vh;
    min-height: 65vh;
  }

  .container_skills {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }

  .container_skills div img{
    width: 80px;
    min-height: 80px;
  }
}
